{{!-- Page header --}}
<h1 class="text-center text-white">Bring Me My Burger</h1>
<h3 class="text-center text-white">And don't forget the fries!</h3>
<div class="text-center">
    <img src="assets/img/bigKahuna.png" class="rounded img-fluid" alt="Big Kahuna Burger">
</div>

{{!-- Two-column row for burgers --}}
<div class="row bg-primary" id="burgerRow">
    <div class="col-sm-6">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h2 class="card-title text-center">Ready to eat</h2>
                <h4 class="card-title text-center">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burgersToEat devoured=true}}
                    {{/unless}}
                    {{/each}}
                </h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h2 class="card-title text-center">You already ate these</h2>
                <h4 class="card-title text-center">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burgersToEat devoured=false}}
                    {{/if}}
                    {{/each}}
                </h4>
            </div>
        </div>
    </div>
</div>
{{!-- Form to add a burger --}}
<div class="row bg-primary" id="burgerForm">
    <div class="col-sm-12 text-center">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h2>Add a Burger</h2>
                <form class="create-form">
                    <div class="form-group">
                        <label>Next burger:</label>
                        <input type="text" id="addBurger" name="burger_name">
                    </div>
                    <button class="btn btn-success text-white" type="submit">Coming up!</button>
                </form>
            </div>