{{!-- Page header --}}
<nav class="navbar navbar-success">
    <h1 class="text-center">Bring Me My Burger</h1>
    <h3 class="text-center">And don't forget the fries!</h3>
</nav>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Ready to eat</h2>
                <h4 class="card-title text-center">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burgersToEat devoured=true}}
                    {{/unless}}
                    {{/each}}
                </h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">You already ate these</h2>
                <h4 class="card-title text-center">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burgersToEat devoured=false}}
                    {{/if}}
                    {{/each}}
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="cheese">Burger:</label>
            <input type="text" id="cheese" name="burger_name">
        </div>
        <button type="submit">Add a Burger</button>
    </form>
</div>